.movieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.movieImg {
  margin-right: 2rem;
}

img {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 0.5rem;
}

nav {
  display: flex;
  margin-top: 1rem;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.active {
  color: #b92121;
}

hr {
  margin: 2rem 0;
}
