.cast {
    margin: 20px;
    font-size: 24px;
  }
  .actorList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .actorCard {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .actorName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .actorCharacter {
    font-size: 14px;
    color: #777;
  }
  